a {
	color: green;
}

h1 {
	font-family: helvetica, Arial;
}

p {

	font-style: oblique;
}

.responsive{
	    width: auto;
    	height: 55%;
}

.backgrey {
	background-color: grey;
}

.mypadding {


    padding: 120px;
}
}

#makered {
	color: red;
}



