* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

body{
	background-color: #EDF2F4;
}


#wrapper{
	margin-right: 100px;
	margin-left: 100px;
}

.header {
  padding: 30px;
  text-align: center;
  background-color: #8D99AE;
  color: #EDF2F4;
  font-weight: 700;
  font-size: 30px;
  max-height: 260px;

}

.header > p{
	padding-top: 20px;
	}

.main-a{
	margin-top: 20px;
	margin-left: 110px;
	margin-right: 110px;
}

.section-a > img{
	max-width: 100%;
	height: auto;
	margin-top: 30px;

}


.section-a > h2{
	margin-top: 20px;
	font-size: 25px;
}

.section-a > p{
	margin-top: 10px;
	font-size: 18px;
}

