		html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My CSS */


		h2{
			color: #f7f7f7;
			font-size: 50px;
			margin: 20px;
			background-color: #3b5998;
			text-align: center;

		}
		h3{
			text-align: left;
			font-size: 35px;
			margin: 40px 20px 20px 20px;
			color: 	#8b9dc3;
			

		}
		p{
			text-align: left;
			font-size: 20px;
			margin: 20px;
			color: #8b9dc3;

		}
		.breakingnews h3{
			font-size: 40px;
			color: 	#ff0000;
			font-family: 'Roboto Mono', monospace;
			text-indent: 50px;
			font-weight: 500; 

		}
		.breakingnews p{
			font-size: 25px;
			margin-left: 50px;
			color: #bf0000;
			margin-left: 40px;
			font-family: 'Roboto Mono', monospace;
			font-weight: 400;
		}

		.about h1{
			color: #f7f7f7;
			font-size: 50px;
			margin: 20px;
			background-color: #3b5998;
			text-align: center;

		}

		.about p{
			font-size: 50px;
			font-weight: 100;
			text-align: left;
		}


		nav{
			width: 100%;
			height: 75px;
			background-color: #343A40;
			text-align: right;

		}

		ul{

		}

		ul li{
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;
			line-height: 75px
			margin: 10px;
			padding: 10px
		}

		ul li a{
			text-decoration: none;
			font-size: 50px;
			font-family: arial;
			color: #C2C3C5;

		}