body{
	background-color: #CBEBF3;
}

.grid div:nth-child(even){
	background-color: #29A2C0;

}

.grid div:nth-child(odd){
	background-color: #32626E;

}

.grid{
	display: grid;
	color: white;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
}